/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #4A4A4A;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-2 {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container-2 .text-muted {
  margin: 20px 0;
}