html, body {
    height: 100%;
}
h1{
	font-size: 40px;
}
.lan-horos{
    padding-top: 64px;
    padding-bottom: 64px;
    min-height: 500px;
    background: linear-gradient(180deg,#cc0052,#4d004d);
    color: white;
    margin-top: -30px;
}
.lan-horos-2{
    padding-top: 64px;
    padding-bottom: 64px;
    height: 100%;
    background: linear-gradient(180deg,#cc0052,#4d004d);
    color: white;
}
.green_border {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6px;
    border-top: 6px solid #5bad02;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.lan-horos p{
	font-size: 20px !important;
}
.lan-price{
    font-size: 38px;
    font-family: haptik,proxima-nova,Helvetica Neue,Helvetica,sans-serif;
}
.lan-tip
{
    font-size: 21px;
}
.lan-tipA
{
    font-size: 21px;
    color: #3366cc;
}
.lan-tipB
{
    font-family: Circular,Helvetica,Arial,sans-serif;
}
.tips
{
    padding: 10px;
    margin: 0 0 40 0;
    background-color: white;
}
.button {
    -webkit-border-radius: 5px;
    background: #eb284f;
    border-radius: 5px;
    border: 0;
    border: 1px solid #eb284f;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 1;
    outline: none;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
}
.button:hover{
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	color: #fff;
	text-decoration: none;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.panel-default>.panel-heading 
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
}
.panel-default>.panel-heading
{
    background: #00a3cc !important;
    background: linear-gradient(-45deg,#00a3cc,#3366cc) !important;
    border-bottom: 1px solid transparent !important;
}
.panel-coach>.panel-heading 
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
}
.panel-coach>.panel-heading
{
    background: #006699 !important;
    background: linear-gradient(-45deg,#006699,#4dc3ff) !important;
    border-bottom: 1px solid transparent !important;
}
.panel-heading 
{
    font-size: 17px;
}
.panel-heading a
{
    color: #4CAF50;
}
.panel-heading a:hover
{
    color: gray;
}




.pageHero{
    background: #ff5050 radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff5050 70%);
    position: relative;
    text-align: center;
    color: white;
    margin-top: -30px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 90px;
}
.plan-name {
    background: #00a3cc !important;
    background: linear-gradient(-45deg,#00a3cc,#3366cc) !important;
    border-bottom: 1px solid transparent !important;
    font-size: 20px !important;
}
.plan-separation
{
    margin-bottom: 90px;
}
.plan-unique
{
    border: 1px solid #00a3cc;
    border-radius: 3px;
}
.plan-unique-f
{
    color: #00a3cc;
}
.plan-button
{
    background-color: #45a1e0;
}
.plan-list
{
    color: #676d76;#
}
.plan-list-u
{
    color: #b9bcc0;
}


.green
{
    background-color: #8BC34A !important;
    color: white !important;
}
.green:hover
{
    background-color: #7CB342 !important;
    color: white !important;
}
.blue
{
    background-color: #03A9F4 !important;
    color: white !important;
}
.blue:hover
{
    background-color: #0288D1 !important;
    color: white !important;
}
.orange
{
    background-color: #FF7043 !important;
    color: white !important;
}
.orange:hover
{
    background-color: #FF5722 !important;
    color: white !important;
}

.intro
{
    padding: 2em;
}
.intro h2
{
    font-size: 2.5rem;
}

.intro h3
{
    font-size: 1.7rem;
}
.box
{
    color: white !important;
    border-radius: 6px;
    padding: 1rem;
    height: 190px;
    margin: 0;
}
.verde
{
    background-color: #00d66f !important;
}
.morado
{
    background-color: #914aed !important;
}
.azul
{
    background-color: #3276dc !important;
}
.rojo
{
    background-color: #ed314a !important;
}
.charac
{
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
}
.link
{
    color: #3276dc;
    font-size: 18px;
}

