.badge-color
{
    background-color: #f24640;
}
.nav-wii
{
    color: #f2f2f2 !important;
    background-color: #155ad1;
}
.navbar-default .navbar-nav>li>a {
    color: #f2f2f2;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f2f2f2;
    background-color: #1046a2;
}
.navbar-default .navbar-brand {
    color:  #155ad1;
}
.navbar-default .navbar-brand:hover {
    color: #155ad1;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: #f2f2f2 !important;
    background-color: #155ad1;
}