body 
{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.alert-success 
{
    color: white !important;
    background-color: #2fcc66 !important;
    border-color: #2fcc66 !important;
}
.alert-danger 
{
    color: white !important;
    background-color: #F44336 !important;
    border-color: #F44336 !important;
}
.alert-info 
{
    color: white !important;
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}
.alert-warning 
{
    color: white !important;
    background-color: #FF9800 !important;
    border-color: #FF9800 !important;
}

.aoh 
{
    max-width: 90px;
    margin-bottom: 5px;
    border: 3px solid #616161;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.aoi
{
    max-width: 60px;
    margin-bottom: 5px;
    margin-right: 15px;
    border: 3px solid #616161;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.aoi-profile
{
    width: 100%;
    max-height: 190px;
    margin-bottom: 5px;
    border: 3px solid #616161;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.img-album
{
    width: 100%;
    max-height: 450px;
}
.aob
{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 15px;
    border: 3px solid #616161;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.balance
{ 
	margin-bottom: 150px !important;
}
.balance2
{ 
	margin-top: 50px !important;
}
.balance3
{ 
    margin-top: 50px !important;
}
.btn-success
{
    color: white !important;
    background-color: #20B249 !important;
    border-color: white !important;
}
.btn-success:hover
{
    color: white !important;
    background-color: #149B14 !important;
}
.btn-primary
{
    color: white !important;
    background-color: #3181FF !important;
    border-color: white !important;
}
.btn-primary:hover
{
    color: white !important;
    background-color: #3A5BFF !important;
}
.btn-danger
{
    color: white !important;
    background-color: #db3236 !important;
    border-color: white !important;
}
.btn-danger:hover
{
    color: white !important;
    background-color: #c32225 !important;
}
.btn-ts
{
    color: #2a88bd;
    background-color: transparent;
    border-color: #2a88bd;
}
.btn-ts:hover
{
    color: white;
    background-color: #2a88bd;
    border-color: white;
}
.btn-ora
{
    color: #ff9900;
    background-color: transparent;
    border-color: #ff9900;
}
.btn-ora:hover
{
    color: white;
    background-color: #ff9900;
    border-color: white;
}
.btn-black
{
    color: black;
    background-color: transparent;
    border-color: black;
}
.btn-black:hover
{
    color: white;
    background-color: black;
    border-color: white;
}
.btn-gr
{
    color: #00cc00;
    background-color: transparent;
    border-color: #00cc00;
}
.btn-gr:hover
{
    color: white;
    background-color: #00cc00;
    border-color: white;
}
.btn-cielo
{
    color: #66ccff;
    background-color: transparent;
    border-color: #66ccff;
}
.btn-cielo:hover
{
    color: white;
    background-color: #66ccff;
}
.btn-re
{
    color: #db3236;
    background-color: transparent;
    border-color: #db3236;
}
.btn-re:hover
{
    color: white;
    background-color: #db3236;
}
.btn-tm
{
    color: white;
    background-color: #56B68B;
    border-color: #56B68B;
}
.btn-tm:hover
{
    color: white;
    background-color: #3d8f6a;
    border-color: #3d8f6a;
}
.btn-sg
{
    color: white;
    background-color: #ff5050;
    border-color: #ff5050;
}
.btn-sg:hover
{
    color: white;
    background-color: #ff3333;
    border-color: #ff3333;
}
.btn-sg:active
{
    color: white;
    background-color: #ff3333;
    border-color: #ff3333;
}
.fb
{
    color: #2a88bd;
    font-weight: bold;
}
.foot 
{
    margin-top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.foot a
{
    color: #155ad1;
}
.green-ok
{
	color: #009933;
}
.red-ok
{
    color: #f24640;
}
.horoscope-font
{
    font-size: 18px;
}
.horoscope-font-h1
{
    font-size: 20px;
}
.lan-horos-margin
{
	margin-top: -50px !important;
}
.social-buttons__icon
{
    color: #AAA;
    font-size: 1.7em!important;
}
.social-buttons__icon:hover
{
    color: #155ad1;
}
.order-image-min 
{
    width: 150;
    height: 100px;
}
.btn-font
{
    font-size: 20px;
}
.font-red
{
    color: #2196F3 !important;
}
.font-orange
{
    color: #E65100 !important;
}
::-moz-selection { /* Code for Firefox */
    background: #cf0;
}

::selection { 
    background: #cf0;
}
.btn-social
{
    padding: 0;
    margin: 0;
}
.btn-pin
{
    position:relative;
    display: inline-block;
    top: 5px;
}